@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import 'tailwindcss';

@theme {
  --font-audiowide: "Audiowide", sans-serif;

  --color-uniform-red: #F00000;
  --color-uniform-black: black;
  --color-uniform-white: #a4b3d4;

  --animate-slide: slide 1.5s ease-in-out forwards;
  --animate-appear: appear 1s ease-in-out forwards;
}

#some-photographs img {
  @apply absolute w-74 md:w-90 lg:w-96 aspect-square border-2 border-uniform-red rounded-2xl object-cover transition-all ease-in-out duration-200;
}
#some-photographs img:hover {
  @apply border-3 border-uniform-white rounded-xl;
}

#img1 {
  @apply animate-[spin_5s_ease-in-out_infinite]
}
#img2 {
  @apply animate-[spin_5.5s_ease-in-out_infinite]
}
#img3 {
  @apply animate-[spin_6s_ease-in-out_infinite]
}
#img4 {
  @apply animate-[border-color_3s_ease-in-out_infinite]
}

#photographs img {
  @apply rounded-xl aspect-2/3 border-2 border-uniform-red object-cover w-[95%] md:w-96 transition ease-in-out duration-500 snap-center;
}

#ig-svg,
#tt-svg {
  @apply fill-white;
}

#instagram-link, 
#tiktok-link {
  @apply my-6 p-4 transition-all ease-in-out duration-200;
}
#instagram-link:hover,
#tiktok-link:hover {
  @apply rounded-full bg-uniform-white;
}
#instagram-link:hover svg,
#tiktok-link:hover svg {
  @apply fill-uniform-red;
}
#instagram-link:hover h4,
#tiktok-link:hover h4 {
  @apply text-uniform-black;
}

@keyframes slide {
  from {
    transform: translateX( -150% );
    opacity: 0;
  }
  to {
    transform: translateX( 0 );
    opacity: 100%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes border-color {
  0% {
    border-color: var( --color-uniform-red ); 
  }
  50% {
    border-color: var( --color-uniform-white );
  }
  100% {
    border-color: var( --color-uniform-red );
  }
} 
