@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import 'tailwindcss';

@theme {
  --font-audiowide: "Audiowide", sans-serif;

  --color-uniform-red: #F00000;
  --color-uniform-black: black;
  --color-uniform-white: white;
}
